# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Test coverage profile
coverage.out

/usb1608fsplus/examples/blink_led/blink_led
/usb1608fsplus/examples/find_by_sn/find_by_sn
/usb1608fsplus/examples/gain_table/gain_table
/usb1608fsplus/examples/scan_analog_input/scan_analog_input
